.card:hover{
    -webkit-box-shadow: 0 0 40px 0 rgb(0 0 0 / 50%);
    box-shadow: 0 0 40px 0 rgb(0 0 0 / 50%);
}

.card{
    transition: all .5s;
    border: none;
}

.btn:hover{
    -webkit-box-shadow: 0 0 40px 0 rgb(0 0 0 / 25%);
    box-shadow: 0 0 40px 0 rgb(0 0 0 / 25%);
}

.btn{
    transition: all .5s;
}