@font-face {
  font-family: "Monument";
  src: url(./font/MonumentExtended-Regular.otf);
}

.background-container {
  background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)),
    url(./home.jpg) no-repeat top fixed;
  background-size: cover;
  color: white;
  font-family: "Monument";
  height: 100vh;
}

@media screen and (max-width: 800px) {
  .background-container p {
    font-size: 2.25rem !important;
    mix-blend-mode: difference;
  }
}
