.chat-body {
  max-height: 40vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.chat-body-detail {
  max-height: 60vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.email:hover {
  text-decoration: underline !important;
}
